/*  Name: Bronson Housmans, Billy Dolny, and Ben Curtis
    Project: InstaSham
    Description: This css that styles the multiple html 
    files for InstaSham.
*/

/* Login Page CSS */
#loginHTML {
    background-color: navy;
}

#loginTitle {
    font-size: 300%;
    color:yellow;
    text-align: center;
}

#loginLeft {
    color:white;
    font-size: 150%;
    position:fixed;
    left:15%;
    right:50%;
}

#loginRight{
    color:white;
    font-size: 150%;
    position:fixed;
    left:60%;
    right:0;
}
/* dmHome Page CSS */
html, body {
    margin: 0;
    padding: 0;
    background-color: navy;
}

#dmHomeContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

.shamBanner {
    color: navy;
    background-color: yellow;
    grid-column: 1;
    grid-row: 1 / 2;
}

#dmHomeContent {
    grid-row: 2 / 3;
    grid-column: 1;
}

.navBar {
    background-color: yellow;
    grid-row: 3;
    grid-column: 1;
}

a {
    padding: 30px;
}

#createPostContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

#createPostContent {
    color: yellow;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 24vh 24vh 24vh 4vh;
}

#addPhotoBox {
    grid-row: 1 / 2;
}

#createCaptionBox {
    grid-row: 2 / 3;
}

#createUserTagBox {
    grid-row: 3 / 4;
}

#tagTitle {
    font-size: 3vh;
    font-weight: bold;
}

.userBox {
    display: inline-block;
}

.inTextPfp {
    float: left;
}

.username {
    float: right;
}

#createPost {
    grid-row: 4;
}

