/*  Name: Bronson Housmans, Billy Dolny, and Ben Curtis
    Project: InstaSham
    Description: This css that styles the multiple html 
    files for InstaSham.
*/

/* dmHome Page CSS */
html, body {
    margin: 0;
    padding: 0;
    background-color: navy;
}

#dmHomeContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

.shamBanner {
    color: navy;
    background-color: yellow;
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 240%;
}

#dmHomeContent {
    color: white;
    grid-row: 2 / 3;
    grid-column: 1;
    overflow-y: scroll;
    margin-left: 3%;
}

#dmHomeTitle, #dmHomeSearch {
    margin-bottom: 3%;
}

#dmHomeExistingMessages {
    border: 3px solid white;
    margin-left: 3%;
    margin-right: 60%;
    margin-top: 3%;
}

#specificContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 84vh 8vh;
}

.navBar {
    background-color: yellow;
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    font-size: 200%;
}

#userContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

#userSearchFriend {
    grid-row: 2 / 3;
    grid-column: 1;
    margin-top: 3%;
    width: 200px;
    height: 20px;
}

.userProfilePic {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#userContent {
    grid-row: 2 / 3;
    grid-column: 1;
    overflow-y: scroll;
    color: white;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 76vh;
}

#userInfoSpot {
    grid-row: 1;
    grid-column: 1 / 2;
    margin-left: 2%;
}

#userUsernameSpot {
    margin-top: 10%;
    margin-bottom: 10%;
}

#userPostSpot {
    grid-row: 1;
    grid-column: 2 / 3;
    margin-left: auto;
}

#userFriendSpot {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-columns: 33vw;
    grid-template-rows: 38vh 38vh;
}

#userSearchContain {
    grid-row: 1 / 2;
    grid-column: 1;
}

#userListDisplay {
    grid-row: 2;
    grid-column: 1;
}

a {
    padding-left: 15px;
    padding-right: 15px;
}

#dmSpecificContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70vh 18vh 12vh;
}

#dmSpecificMessages {
    grid-row: 1 / 2;
    grid-column: 1;
    color: white;
    overflow-y: scroll;
}

#dmSpecificInput {
    grid-row: 2 / 3;
    grid-column: 1;
    color: white;
    border: 5px solid white;
}

/*
Stlye for the create post page
*/
#createPostContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

.createPostTitles {
    font-size: 3vh;
    font-weight: bold;
}

#createPostContent {
    color: white;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 20vh 22vh 4vh;
}


#previewPhotos {
    height: 26vh;
    overflow-x: scroll;
    white-space: nowrap;
}

#addPhotoBox {
    grid-row: 1 / 2;
    height: 100%;
}

.invis {
    display: none;
}

#uploadImgImg {

    display: block;
    height: 22vh;
    aspect-ratio: 1 / 1;
}

.createPostImgs {
    margin: 2px;
    display: inline-block;
    height: 22vh;
    aspect-ratio: 1 / 1;
    border: 2px white solid;
}

.feedPics {
    margin: 2px;
    display: inline-block;
    height: 50vh;
    aspect-ratio: 1 / 1;
}

#createCaptionBox {
    grid-row: 2 / 3;
}

#createCaption {
    height: 16vh;
    width: 90%;
    border: 2px white solid;
    background-color: navy;
    color: white;
}

#createUserTagBox {
    grid-row: 3 / 4;
    padding: 2px;
}

.userBox {
    border: 2px white solid;
    padding: 2px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.toRemove:hover {
    border: 2px red solid;
}

.toAdd:hover {
    border: 2px greenyellow solid;
}

.inTextPfp {
    float: left;
    height: 2vh;
    aspect-ratio: 1 / 1;
}

.username {
    float: right;
    height:2vh
}

#createPost {
    grid-row: 4;
}

#homeContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 84vh 8vh;
}

#homeContent {
    color: white;
    grid-row: 2 / 3;
    grid-column: 1;
    overflow-y: scroll;
}

#globalContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

#globalContent {
    color: white;
    grid-row: 2 / 3;
    grid-column: 1;
    overflow-y: scroll;
}

#postPic {
    max-width: 25%;
  height: auto;
}

.homeProPic {
    max-width: 5%;
    border-radius: 50%;
  height: auto;
}

#specificProfilePic {
    max-width: 50%;
    border-radius: 50%;
    height: auto;
}

#homeProfilePic {
    max-width: 10%;
    border-radius: 50%;
    height: auto;
}

#dmHomeExistingMessages {
    margin-bottom: 4%;
}

#helpContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

#helpDesc {
    margin-left: 15%;
    margin-top: 2%;
    margin-right: 15%;
    margin-bottom: 2%;
    font-size: 22px;
    color: white;
    overflow-y: scroll;
}

#viewUserContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 76vh 12vh;
}

#viewUserSearchFriend {
    grid-row: 2 / 3;
    grid-column: 1;
    margin-top: 3%;
    width: 200px;
    height: 20px;
}

#viewUserProfilePic {
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#viewUserContent {
    grid-row: 2 / 3;
    grid-column: 1;
    overflow-y: scroll;
    color: white;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 76vh;
}

#viewUserInfoSpot {
    grid-row: 1;
    grid-column: 1 / 2;
    margin-left: 2%;
}

#viewUserUsernameSpot {
    margin-top: 10%;
    margin-bottom: 10%;
}

#viewUserPostSpot {
    grid-row: 1;
    grid-column: 2 / 3;
    margin-left: auto;
}

#viewUserFriendSpot {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-columns: 33vw;
    grid-template-rows: 38vh 38vh;
}

#viewUserSearchContain {
    grid-row: 1 / 2;
    grid-column: 1;
}

#viewUserListDisplay {
    grid-row: 2;
    grid-column: 1;
}